body{
    font-family: 'Bebas Neue', cursive !important;
    font-family: 'Roboto', sans-serif !important;

}
.banner{
    background-color: #fff9f4;
}
h1{
    font-size: 80px;
    font-family: 'Bebas Neue', cursive ;
}
main h1{
    font-size: 40px;
}
.header-1{
    font-family: 'Bebas Neue', cursive ;
    font-size: 80px;
    color: #fa804c;
}
.nav-link{
    font-weight: 900;

}
.buy-button{
    padding: 10px;
    font-weight: 500;
    background:linear-gradient(180deg,#3D4FF3 0%, #3543BC 100%);
    border: 0;
    border-radius: 10px;
    width: 170px;
}
.card-price{
    background-color: white;
    border: 0;

}
.card-price h2{

   color: #FA804C;
   font-weight:900 !important;
   font-size: 40px;
}
.card-about{
    border-radius: 20px;
}
.card{
    border-radius: 20px;
}
.shoe{
    background-color: #F1F1F1;
    border-radius: 20px;  
}
@media only screen and (max-width: 767px) {
    
    .respon-img{
        width: 340px;
        margin-right: 30px;
    }
    .mobile-respon{
        display:flex;
        justify-content: space-between;
    }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    
    .respon-img{
        width: 710px;
    }
    .card-about{
        width: 70%;
        margin-left: 15%;
    }
}
.margin{
    margin-top: 130px;
}
.list-unstyled li a {
    color: black;
}
.list-unstyled li a :hover{
    color: #3167eb;

}
.color-text{
    color: grey;
}
.pay-card{
    color: gray;
}